<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobility42.azurechatr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.mobility42.azurechatr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mobility42.azurechatr.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".ChatActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mobility42.azurechatr" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ListaChatActivity"
            android:label="@string/title_activity_lista_chat"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaContactosActivity"
            android:label="@string/title_activity_lista_contactos"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".CrearChatActivity"
            android:label="@string/title_activity_crear_chat"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".MemeViewer.MemeViewerActivity"
            android:label="@string/title_activity_crear_chat"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".MemeViewer.MemeCreator"
            android:label="@string/title_activity_crear_chat"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".MediaBrowser"
            android:label="@string/title_activity_crear_chat"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".BlobActivity"
            android:label="@string/title_activity_crear_chat"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
